<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/table/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/table/css/fs.css" media="all"/>
    <script type="text/javascript" src="/table/plugins/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fsDict.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fs.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/frame.js?v=1.7.0"></script>
</head>
<form class="layui-form" id="query_form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-mid">状态(0未处理 1已通过 2未通过 5全部)：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="tel" name="superStatus" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-mid">位置：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="tel" name="city" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-mid">备注：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="remark" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-mid">创建时间：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="createDate" autocomplete="off" class="layui-input fsDate" daterange="1" placeholder=" - " lay-key="1">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <button class="layui-btn" type="button" function="query"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
        </div>
    </div>
</form>
<table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="/api/warehouse/get-warehouse-simple-by-page?status=5" isPage="1" sortType="1" pageSize="10" defaultForm="query_form" height="full-135"></table>

<div class="fsDatagridCols">
    <p type="numbers" title="#"/>
    <p checkbox="true"/>
    <p field="wid" title="ID" width="60" sort="true"/>
    <p field="status" title="状态" width="100"/>
    <p field="locate" title="位置" width="180"/>
    <p field="parkService" title="园区服务" width="180"/>
    <p field="suitableFor" title="适合行业" width="180"/>
    <p field="advantage" title="优势" width="180" />
    <p field="remark" title="备注" width="150"/>
    <p field="createTime" title="创建时间" width="150"/>
    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="260"/>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="top" topUrl="/admin_warehouse_detail" topWidth="800px" topHeight="600px" topTitle="编辑页面" inputs="wid:,openId">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" url="/api/warehouse/pass?pass=1" isConfirm="1" confirmMsg="是否确定通过当前记录？它将被展示到前台" inputs="wid:">通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" url="/api/warehouse/pass?pass=2" isConfirm="1" confirmMsg="确定拒绝通过当前记录？它将不被展示到前台" inputs="wid:">不通过</a>
    <a class="layui-btn layui-btn-xs" lay-event="top" topUrl="admin_warehouse_picture" topWidth="800px" topHeight="600px" topTitle="查看图片" inputs="wid:">图片</a>
    <a class="layui-btn layui-btn-xs" lay-event="top" topUrl="/admin_communication_record" topWidth="800px" topHeight="600px" topTitle="沟通页面" inputs="wid:">沟通</a>
</script>

</body>
</html>