<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应详情页</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/table/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/table/css/fs.css" media="all"/>
    <script type="text/javascript" src="/table/plugins/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fsDict.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fs.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/frame.js?v=1.7.0"></script>
</head>
<body>
<h3>用户个人信息</h3>
<div id="user">

</div>
<hr>
<h2>供应信息</h2>
<div>

    <form class="layui-form" id="edit_form" isLoad="1">

        <input type="hidden" name="wid"/>

        <div class="layui-form-item">
            <label class="layui-form-label">位置：</label>
            <div class="layui-input-block">
                <input type="text" id="locate" name="locate" required="" lay-verify="required" placeholder="请输入位置，若多个请用、分割" autocomplete="off" class="layui-input"/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">园区服务：</label>
            <div class="layui-input-inline">
                <input type="text" id="parkService" name="parkService" placeholder="默认0" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">适合行业：</label>
            <div class="layui-input-block">
                <input type="text" id="suitableFor" name="suitableFor" required="" lay-verify="required" placeholder="必填" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">优势：</label>
            <div class="layui-input-block">
                <input type="text" id="advantage" name="advantage" required="" lay-verify="required" placeholder="必填" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">订单状态：</label>
            <div class="layui-input-inline">
                <input type="text" id="status" name="status" placeholder="默认0" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>

        <hr/>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="edit" url="/api/warehouse/update-warehouse"><i class="layui-icon">&#xe642;</i>修改主体信息</button>
                <button type="button" class="layui-btn layui-btn-primary" function="close">关闭页面</button>
            </div>
        </div>

    </form>

</div>
<hr>
<h3>仓库单元</h3>
<div>
    <form id="unit">

    </form>
    <button id="updateUnit" class = "layui-btn" onclick="commitUnit()">修改存储单元单元</button>
</div>

<script>
    function GetRequest(name) {
        let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        let r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;

    }

    function loadData() {
        let openId = GetRequest("openId");
        let wid    = GetRequest("wid");

        //加载用户信息
        $.post("/api/user/get-by-id",{
            openId : openId
        },(result,status)=>{
            let obj = result;
            $("#user").append("<p>用户的真实姓名："+obj.realName+"</p>");
            $("#user").append("<p>手机号："+obj.telNum+"</p>");
            $("#user").append("<p>公司名："+obj.company+"</p>");
        });

        //加载仓库单元
        $.post("/api/warehouse/get-warehouse-unit",{
            warehouseId : wid
        },(result,status)=> {
            if(result.length == 0)
                $("#updateUnit").remove();
            for (let i = 0; i < result.length; i++) {
              let obj  = result[i];
              let id   = "uid"+i;
                let couldSublet;
                if (obj.couldSublet == 0)
                    couldSublet = "可分租";
                else
                    couldSublet = "不可分租";
              let html  = "<div class = 'unit-body' " + "id=\'" + id+ "\'>\n";
                html+= "           <p>楼层：<input name=\"floor\" class ='floor' value = \'"+obj.floor+"\'/></p>" +
                    "              <p>面积：<input name=\"area\" class ='area' value = '"+obj.area+"'/></p>\n" +
                    "              <p>是否可以分租：<input name=\"couldSublet\" class='couldSublet' value = '"+couldSublet+"'/>(请一定填写 可分租 或 不可分租)</p>\n" +
                    "              <p>最小分租面积：<input name=\"minSubletArea\" class='minSubletArea' value = '"+obj.minSubletArea+"'/></p>\n" +
                    "              <p>价格：<input name=\"price\" class='price' value = '"+obj.price+"'/></p>\n" +
                    "              <p>配套设施：<input name=\"supportingFacilities\" class='supportingFacilities' value = '"+obj.supportingFacilities+"' /></p>\n" +
                    "              <hr></div>";
              $("#unit").append(html);
        }
        });
    }

    function commitUnit() {
        let objs = new Array();
        let tagElements = document.getElementsByClassName('unit-body');
        for (let j = 0; j < tagElements.length; j++) {
            let obj = {
                area : 1,
                couldSublet : "",
                minSubletArea : "",
                price : "",
                supportingFacilities : "",
                warehouseId: GetRequest("wid")
                floor : ''
            };
            obj.area = $(tagElements[j]).find(".area").val();
            obj.couldSublet = $(tagElements[j]).find(".couldSublet").val();
            if(obj.couldSublet == "可分租"){
                obj.couldSublet = 1;
            }else if (obj.couldSublet == "不可分租"){
                obj.couldSublet = 0;
            } else{
                obj.couldSublet = 0;
            }
            obj.minSubletArea = $(tagElements[j]).find(".minSubletArea").val();
            obj.price = $(tagElements[j]).find(".price").val();
            obj.supportingFacilities = $(tagElements[j]).find(".supportingFacilities").val();
            obj.floor = $(tagElements[j]).find(".floor").val();
            objs.push(obj);
        }
        let jsons = JSON.stringify(objs);
        $.ajax({
            type: "POST",
            url: "/api/warehouse/update-unit",
            contentType: "application/json; charset=utf-8",
            data: jsons,
            dataType: "json",
            success: function (message) {

            },
            error: function (message) {
            }
        });
        alert("success");
        window.close();
    }


    loadData();
</script>
</body>
</html>