<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/table/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/table/css/fs.css" media="all"/>
    <script type="text/javascript" src="/table/plugins/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fsDict.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/fs.js?v=1.7.0"></script>
    <script type="text/javascript" src="/table/plugins/frame/js/frame.js?v=1.7.0"></script>
</head>

<table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="/api/require/get-by-page?status=5" isPage="1" sortType="1" pageSize="10" defaultForm="query_form" height="full-135"></table>

<div class="fsDatagridCols">
    <p type="numbers" title="#"/>
    <p checkbox="true"/>
    <p field="rid" title="ID" width="60" sort="true"/>
    <p field="locates" title="位置" width="150"/>
    <p field="area" title="面积" width="80"/>
    <p field="purpose" title="用途" width="100"/>
    <p field="fireControlRequire" title="消防需求" width="100" />
    <p field="platformRequire" title="月台需求" width="100"/>
    <p field="floorRequire" title="楼层要求" width="100"/>
    <p field="requireTime" title="创建时间" width="150"/>
    <p field="leaseTerm" title="租期" width="80"/>
    <p field="maxPrice" title="最高价格" width="100"/>
    <p field="remark" title="备注" width="180"/>
    <p field="status" title="状态" width="60"/>
    <p field="openId" title="openId" width="60"/>
    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="220"/>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="top" topUrl="views/datagrid/edit.html" topMode="readonly" topWidth="800px" topHeight="600px" topTitle="查看demo" inputs="rid:,openId:">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="top" topUrl="/admin_require_detail" topWidth="800px" topHeight="600px" topTitle="编辑页面" inputs="id:">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" url="/fsbus/1002" isConfirm="1" confirmMsg="是否确定删除当前记录？" inputs="id:">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="test2" >测试</a>
</script>

</body>
</html>