<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应图片</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script>
        function GetRequest(name) {
            let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            let r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
        function init() {
            let wid = GetRequest("wid");
            $.post("/api/warehouse/get-detail-by-wid",{
                wid : wid
            },(result,status)=>{
                let pic = result.warehouse.picture;
                let picArray = pic.split(" ");
                for (let i =0;i<picArray.length;i++)
                    $("#container").append("<img src='"+picArray[i]+"' /><br>")
            })
        }
        init()
    </script>
</head>
<body>
<div id = 'container'>

</div>
</body>
</html>