<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>赛沃云仓</title>
    <link href="/static/zui/css/zui.min.css" rel="stylesheet">
    <link href="/static/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">仓库管理系统</a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-example">
            <ul class="nav navbar-nav navbar-avatar navbar-right">
                <li>
                    <a href="#" class="header-tooltip" style="margin-top:8px;" data-toggle="tooltip"
                       data-placement="bottom" data-container="body" title="" data-original-title="2条未读信息">
                        <i style="font-size: 25px;" class="icon-comment-alt icon-xlarge text-default"></i>
                        <b style="display: block;" class="badge badge-notes bg-danger count-n">2</b>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员
                        <span class="thumb-small avatar inline">
                                    <img src="/static/Images/avatar/avatar.jpg" alt="Mika Sokeil" class="img-circle">
                                </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon icon-off"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>
<!-- / header -->
<div id="left-bar" style="width: 200px">
    <nav class="menu" id="left-menu" data-toggle="menu">
        <ul class="nav nav-primary">
            <li><a href="/teacher/index"><i class="icon-home"></i> 主面板</a></li>
            <li><a href="#"><i class="icon-user"></i>需求管理</a>
                <ul class="nav">
                    <li>
                        <a href="#" onclick="flush_page('/admin_require')"><i class="icon-shopping-cart" ></i>查看需求</a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><i class="icon-yen"></i>供应管理</a>
                <ul class="nav">
                    <li>
                        <a href="#" onclick="flush_page('/admin_warehouse')"><i class="icon-shopping-cart"></i>查看供应</a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="icon-home"></i>用户管理</a>
                <ul class="nav">
                    <li>
                        <a href="#" onclick="flush_page('/admin_user')"><i class="icon-shopping-cart"></i>用户管理</a>
                    </li>
                </ul>
            </li>

        </ul>

    </nav>
</div>
<div id="main-content">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href=""><i class="icon icon-home"></i> 主页</a>
            </li>
            <li>
                <a id="parent-bread" href="#">工作中心</a>
            </li>
            <li id="children-bread" class="active">店铺管理</li>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-header">
            <h1>
                首页
            </h1>
            <!--<button id="show-user" class="btn btn-primary">查看用户</button>-->
        </div>
        <div class="page-body">

        </div>
    </div>
</div>

<!-- 在此处挥洒你的创意 -->
<!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
<script src="/static/js/jquery.js"></script>
<!-- ZUI Javascript组件 -->
<script src="/static/zui/js/zui.min.plus.js"></script>
<script src="/static/zui/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="/static/lib/layer/layer.js"></script>
<script>
    $(function () {
        $('#left-bar').add('#main-content').height($(window).height() - $('header').height());
        $('.header-tooltip').tooltip();
        $('#left-menu ul.nav-primary ul.nav li.active').parents('li').addClass('active show');
    });
</script>
<script>
    $('#show-user').click(function () {
        //页面层-自定义
        //iframe层-父子操作
        layer.open({
            type: 2,
            area: ['60%', '530px'],
            fix: false, //不固定
            maxmin: true,
            content: 'profile.html'
        });
    });
</script>
<script>
    $(".page-body").append("<iframe src=\"/admin_require\" frameborder=\"0\" width=\"100%\" height=\"750\"> ></iframe>");
</script>
<script>

    function flush_page(url) {
        $(".page-body").empty();
        $(".page-body").append("<iframe src=\""+url+"\" frameborder=\"0\" width=\"100%\" height=\"750\"> ></iframe>");
    }

</script>
</body>
</html>