<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin index</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="apple-mobile-web-app-title" content="Amaze UI">
  <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
 

</head>
<body>
	<ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="http://warehouse.heartqiu.cn/admin_require" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br>需求管理<br>Require Management</a></li>
        <li><a href="http://warehouse.heartqiu.cn/admin_warehouse" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br>供应管理<br>Supply Management</a></li>
        <li><a href="http://warehouse.heartqiu.cn/admin_user" class="am-text-danger"><span class="am-icon-btn am-icon-user-md"></span><br>用户管理<br>User Management</a></li>
    </ul>

</body>
</html>