<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.skyisbule.wxpay.dao.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.github.skyisbule.wxpay.domain.Warehouse">
    <id column="wid" jdbcType="INTEGER" property="wid" />
    <result column="locate" jdbcType="VARCHAR" property="locate" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="park_service" jdbcType="VARCHAR" property="parkService" />
    <result column="suitable_for" jdbcType="VARCHAR" property="suitableFor" />
    <result column="is_pass" jdbcType="INTEGER" property="isPass" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="advantage" jdbcType="VARCHAR" property="advantage" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wid, locate, picture, park_service, suitable_for, is_pass, open_id, advantage, remark, 
    status
  </sql>
  <select id="selectByExample" parameterType="com.github.skyisbule.wxpay.domain.WarehouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_warehouse
    where wid = #{wid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_warehouse
    where wid = #{wid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.skyisbule.wxpay.domain.WarehouseExample">
    delete from db_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.skyisbule.wxpay.domain.Warehouse">
    insert into db_warehouse (wid, locate, picture, 
      park_service, suitable_for, is_pass, 
      open_id, advantage, remark, 
      status)
    values (#{wid,jdbcType=INTEGER}, #{locate,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{parkService,jdbcType=VARCHAR}, #{suitableFor,jdbcType=VARCHAR}, #{isPass,jdbcType=INTEGER}, 
      #{openId,jdbcType=CHAR}, #{advantage,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.skyisbule.wxpay.domain.Warehouse">
    insert into db_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wid != null">
        wid,
      </if>
      <if test="locate != null">
        locate,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="parkService != null">
        park_service,
      </if>
      <if test="suitableFor != null">
        suitable_for,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="advantage != null">
        advantage,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="locate != null">
        #{locate,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="parkService != null">
        #{parkService,jdbcType=VARCHAR},
      </if>
      <if test="suitableFor != null">
        #{suitableFor,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="advantage != null">
        #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.skyisbule.wxpay.domain.WarehouseExample" resultType="java.lang.Long">
    select count(*) from db_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_warehouse
    <set>
      <if test="record.wid != null">
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.locate != null">
        locate = #{record.locate,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.parkService != null">
        park_service = #{record.parkService,jdbcType=VARCHAR},
      </if>
      <if test="record.suitableFor != null">
        suitable_for = #{record.suitableFor,jdbcType=VARCHAR},
      </if>
      <if test="record.isPass != null">
        is_pass = #{record.isPass,jdbcType=INTEGER},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=CHAR},
      </if>
      <if test="record.advantage != null">
        advantage = #{record.advantage,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_warehouse
    set wid = #{record.wid,jdbcType=INTEGER},
      locate = #{record.locate,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      park_service = #{record.parkService,jdbcType=VARCHAR},
      suitable_for = #{record.suitableFor,jdbcType=VARCHAR},
      is_pass = #{record.isPass,jdbcType=INTEGER},
      open_id = #{record.openId,jdbcType=CHAR},
      advantage = #{record.advantage,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.skyisbule.wxpay.domain.Warehouse">
    update db_warehouse
    <set>
      <if test="locate != null">
        locate = #{locate,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="parkService != null">
        park_service = #{parkService,jdbcType=VARCHAR},
      </if>
      <if test="suitableFor != null">
        suitable_for = #{suitableFor,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=CHAR},
      </if>
      <if test="advantage != null">
        advantage = #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.skyisbule.wxpay.domain.Warehouse">
    update db_warehouse
    set locate = #{locate,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      park_service = #{parkService,jdbcType=VARCHAR},
      suitable_for = #{suitableFor,jdbcType=VARCHAR},
      is_pass = #{isPass,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=CHAR},
      advantage = #{advantage,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where wid = #{wid,jdbcType=INTEGER}
  </update>
</mapper>